# data
data/
dataset/
*.csv
*.xlsx

# environment variables
venv/
env/
.idea/
.venv

# system files
.DS_Store

# jupyter and py cache
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# artifacts
wildDikks/new_model/artifacts/
artifacts/
/new_model/artifacts/

# jupyter
*.ipynb